.container-abt {
    position: relative;
    width: 720px;
    /* Width of your SVG */
    height: 629px;
    /* Height of your SVG */

    flex-shrink: 0;
}

.main-container {
    width: 1440px;
    height: 3813px;
}




.bg-abt-img {
    background-image: url("https://s3-alpha-sig.figma.com/img/cbc2/713b/6fd033f480a575f0a0f175bd3257c3c2?Expires=1705276800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J43o5FwnQzkk0BMwC5eldXz6hH1teihp~d9QA1oLsNxQoAJJasyB2EDJmW1GRb8bauETgeXwz79PM1WtS8ZfXx~~KlzTmQ0DHiMbWP6VsRlUhpYyrSICOtQWzoF9DRnrRdhq4Ge16Y9XtO6orwxxHfajNZLnPvH15VTSzjf~MR-MXJexVEk-4FHjiEaPJuxcxT5NfpJ~a1NsOHG36FZuFJLBakrDWkwSJdMz0FNTUYTX~rnBg1-dqz9TcfUz61vPZFtsm3sz0DCAzli-LaMgTYhC6dGFV6Z6BTGIPmisDBQ9QDIQS3E6kBNZiZzzmMlZ4yOgmMVh7cUjcLJFafyl~w__"), lightgray 79px -170px / 91.944% 157.87% no-repeat;
}

.svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: #FDC435;
}

.content {
    color: var(--brand-yellow, #FDC435);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: stretch;

}


.img-overlay {
    position: absolute;
    top: 40%;
    /* Adjust as needed */
    left: 50%;
    /* Adjust as needed */
    transform: translate(-50%, -50%);
    max-width: 100%;
    /* Ensure the image doesn't exceed its container */
    max-height: 100%;
}


.abt-heading {
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 76.8px */
    width: 486px;
    color: #333;
}

.abt-para {
    color: #828282;
    /* body/24px */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 150% */
    width: 486px;
}

.project-button {
    background: #FDC435;
    color: #25282B;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 8px, 24px, 8px, 24px;
    width: 115px;
    height: 43px;
    border-radius: 8px;
    margin: 5px;
}

.linkedin-button {
    color:  #25282B;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    height: 43px;
    width: 117px;
    border-radius: 8px;
    /* 27px */
    border: 2px solid  #25282B;

}

.project-head {
    color: #25282B;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}

.head-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.project-container {
    width: 1436px;
    height: 756px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center the content vertically */
    align-items: center;
    /* Center the content horizontally */
    gap: 20px;
    /* Adjust the gap between elements */
    padding: 20px;

}

.pt-container {
    width: 1436px;
    height: 756px;
    top: -939px;
    left: 2844px;
}

.add-butt-cont {
    align-items: flex-end;
}

.add-button {
    display: flex;
    padding: 8px 24px;
    align-items: flex-end;
    border-radius: 8px;
    background: #FDC435;
}

.footer-container {
    width: 1436px;
    height: 111.891px;
    flex-shrink: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}


label {
    color: var(--font-high, #25282B);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E8ECF4;
    background: #FFF;
}

textarea {

    width: 400px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid #E8ECF4;
    background: var(--bg-white, #FFF);

}